<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDisplayName</key>
	<string>LifeGamer</string>
	<key>NSCalendarsFullAccessUsageDescription</key>
	<string>LifeGamer 需要存取你的行事曆，以便將事件同步到系統行事曆。</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>LifeGamer 需要存取你的相簿，讓你為日記和角色加入照片。</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
</dict>
</plist>
